*:focus {
    outline: none;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/assets/background.jpg');
    background-size: cover;
}