<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
    <a [routerLink]="['/']">
        <img src="assets/logo.svg" width="35px" alt="" class="mr-3">
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal">UNMSM</h5>
    <button mat-stroked-button [routerLink]="['/asistencias']">Ver asistencias</button>
</div> -->
<router-outlet></router-outlet>
<div id="particles-js">
</div>