#title {
    font-size: 20px;
}

#horaTexto {
    font-size: 34px;
    font-weight: 400;
}

#inputCodigo {
    width: 90%;
}

*:focus {
    outline: none;
}

input {
    text-align: center;
    font-size: 28px;
    color: #eeeeee;
    font-weight: 600;
}

button {
    width: 90%;
    font-size: 16px;
    height: 45px;
    background: white !important;
    color: black !important;
}

* {
    color: #eee;
}

.mat-divider {
    border-top-width: 2px;
    border-color: aliceblue;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.botonDisabled {
    opacity: 0.24;
}