<div class="container text-center mb-5" style="margin-top: 65px; color: white;">
    <img src="assets/logo.svg" width="70px" class="mr-3">
    <h3>UNIVERSIDAD NACIONAL MAYOR DE SAN MARCOS</h3>
    <h5>Decana de América</h5>
</div>

<div class="row centradoVertical" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-3"></div>
    <div class="col-3">
        <app-reloj></app-reloj>
    </div>
    <div class="col-3 text-center">
        <div class="container">
            <hr>
            <div id="title">
                Registro de asistencia
            </div>
            <div id="horaTexto" class="container text-center mt-3">
                {{horas | number: '2.'}} : {{minutos | number: '2.'}} : {{segundos | number: '2.'}}
            </div>
            <mat-form-field id="inputCodigo" class="mt-4" appearance="outline">
                <mat-label>Código / DNI del trabajador</mat-label>
                <input #codigoEmpleado (blur)="onBlur($event)" [(ngModel)]="codigo" maxlength="11" minlength="0"
                    (keyup.enter)="registrarIngreso()" matInput
                    oninput="this.value = this.value.replace(/[^0-9a-zA-Z ]/g, '').replace(/(\..*)\./g, '$1');"
                    style="text-transform:uppercase;" (keyup)="codigo = codigo.toUpperCase()">
            </mat-form-field>
            <br>
            <button class="mt-2 mb-2" mat-flat-button color="primary" (click)="registrarIngreso()"
                [disabled]="codigo?.length<6" [ngClass]="{'botonDisabled': codigo?.length<6}">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                Registrar Ingreso
            </button>
            <hr>
        </div>
    </div>
    <div class="col-3"></div>
</div>