<div class="container text-center mb-4 mt-5" style="color: antiquewhite;">
    <h3>
        LISTA DE ASISTENTES A LA NAVIDAD DE NIÑO SANMARQUINO
    </h3>
    <div class="mt-3"></div>
</div>

<div class="container" style="color: white;">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <table class="table table-striped">
            <thead>
                <tr style="color: white;">
                    <th scope="col">#</th>
                    <th scope="col">DOC. ID</th>
                    <th scope="col">CÓD. PERSONA</th>
                    <th scope="col">NOMBRE COMPLETO</th>
                    <th scope="col">HORA DE INGRESO</th>
                </tr>
            </thead>
            <tbody style="color: white;">
                <tr *ngFor="let asistencia of asistencias; index as i" style="color: white;">
                    <th>{{i+1}}</th>
                    <td>{{asistencia.SER_DOC_ID_ACT}}</td>
                    <td>{{asistencia.CODIGO_PERS}}</td>
                    <td>{{asistencia.NOMBRE_COMPLETO}}</td>
                    <td>{{asistencia.HORA_ENTRADA}}</td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</div>