.material-icons {
    margin-bottom: 4px;
    margin-right: 3px;
}

tr>th {
    text-align: center;
}

tr>td {
    text-align: center;
    font-size: 14px;
}

*:focus {
    outline: none;
}

tbody>tr>th {
    font-size: 14px;
}

.example-viewport {
    height: 600px;
    width: 100%;
  }