/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

.centradoVertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
